{% load static %}

<nav class = "navbar navbar-expand-lg navbar-light bg-light">
    <div class = "container-fluid">
        <a class = "navbar-brand" href = "{% url 'forum:index' %}">
            <img src = "{% static 'images/logo.png' %}" alt = "mu brand" width = "64" height = "64">
        </a>
        <button
            class = "navbar-toggler"
            type = "button"
            data-bs-toggle = "collapse"
            data-bs-target = "#navbar-supported-content"
            aria-controls = "navbar-supported-content"
            aria-expanded = "false"
            aria-label = "Toggle navigation"
            >
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id = "navbar-supported-content">
            <ul class = "navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_superuser %}
                    <li class = "nav-item">
                        <a class = "nav-link" href = "{% url 'admin:index' %}" target = "_blank">Admin</a>
                    </li>
                {% endif %}
                
                {% with url_name=request.resolver_match.url_name %}
                    {% if request.user.is_authenticated %}
                        {% if url_name == "community-list-subscribed" or url_name == "community-list-all" %}
                            <li class = "nav-item">
                                <a
                                    class = "nav-link active"
                                    aria-current = "page"
                                    href = "{% url 'forum:community-list-subscribed' %}"
                                    >
                                    Communities
                                </a>
                            </li>
                        {% else %}
                            <li class = "nav-item">
                                <a class = "nav-link" href = "{% url 'forum:community-list-subscribed' %}">Communities</a>
                            </li>
                        {% endif %}

                        {% if url_name == "profile-detail" and object.user == request.user or url_name == "profile-update" %}
                            <li class = "nav-item">
                                <a
                                    class = "nav-link active"
                                    aria-current = "page"
                                    href = "{% url 'user:profile-detail' request.user.username %}"
                                    >
                                    Profile
                                </a>
                            </li>
                        {% else %}
                            <li class = "nav-item">
                                <a class = "nav-link" href = "{% url 'user:profile-detail' request.user.username %}">Profile</a>
                            </li>
                        {% endif %}

                        {% if url_name == "logout" %}
                            <li class = "nav-item">
                                <a
                                    class = "nav-link active"
                                    aria-current = "page"
                                    href = "{% url 'user:logout' %}"
                                    >
                                    Log out
                                </a>
                            </li>
                        {% else %}
                            <li class = "nav-item">
                                <a class = "nav-link" href = "{% url 'user:logout' %}">Log out</a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if url_name == "community-list-all" %}
                            <li class = "nav-item">
                                <a
                                    class = "nav-link active"
                                    aria-current = "page"
                                    href = "{% url 'forum:community-list-all' %}"
                                    >
                                    Communities
                                </a>
                            </li>
                        {% else %}
                            <li class = "nav-item">
                                <a class = "nav-link" href = "{% url 'forum:community-list-all' %}">Communities</a>
                            </li>
                        {% endif %}

                        {% if url_name == "login" %}
                            <li class = "nav-item">
                                <a
                                    class = "nav-link active"
                                    aria-current = "page"
                                    href = "{% url 'user:login' %}"
                                    >
                                    Log in
                                </a>
                            </li>
                        {% else %}
                            <li class = "nav-item">
                                <a class = "nav-link" href = "{% url 'user:login' %}">Log in</a>
                            </li>
                        {% endif %}

                        {% if url_name == "signup" %}
                            <li class = "nav-item">
                                <a
                                    class = "nav-link active"
                                    aria-current = "page"
                                    href = "{% url 'user:signup' %}"
                                    >
                                    Sign up
                                </a>
                            </li>
                        {% else %}
                            <li class = "nav-item">
                                <a class = "nav-link" href = "{% url 'user:signup' %}">Sign up</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </ul>
        </div>
    </div>
</nav>
