/* Override */
.asteriskField {
    color: red;
}

/* Override (small screen overflow fix) */
.custom-file-input {
    max-width: 100% !important;
}

/* mu defined */
body {
    /* background-image: radial-gradient(#212121 15%, transparent 15%);
    background-size: 10px 10px; */
    /* background:
        linear-gradient(90deg, white 20px, transparent 1%) center,
        linear-gradient(white 20px, transparent 1%) center,
        black;
    background-size: 22px 22px; */
}

.highlight:target {
    border: 1px solid #dee2e6;
}

.profile-img {
    max-width: 96px;
    max-height: 96px;
}

/* See: https://stackoverflow.com/a/34559614 */
.text-display-limit {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-pre-line {
    white-space: pre-line;
}
