{% extends "base/base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class = "d-flex flex-column align-items-center justify-content-sm-center h-100 mx-3">
        <img class = "my-3" src = "{% static 'images/logo-no-text.png'%}" width = "100" height = "100">
        <form class = "container needs-validation" method = "POST" action = "{% url 'user-signup' %}">
            {% crispy form %}
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
{% endblock content %}

