{% extends "base/base.html" %}

{% load crispy_forms_tags %}

{% block subheader_buttons %}
    <a class = "btn btn-outline-secondary" href = "{% url 'profile-view' request.user.username %}">Cancel</a>
{% endblock subheader_buttons %}

{% block subheader_title %}
    Editing profile
{% endblock subheader_title %}

{% block content %}
    <form class = "container needs-validation" method = "POST" action = "{% url 'profile-update' request.user.username %}" enctype = "multipart/form-data">
        {% crispy form %}
        {% for formset in inlines %}
            {{ formset.management_form|crispy }}
            {% for f in formset %}
                {% for hidden in f.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% crispy f %}
            {% endfor %}
        {% endfor %}

        <div class = "row mb-3">
            <input class = "btn btn-primary" type = "submit" value = "Update" />
        </div>
    </form>
{% endblock content %}
