{% extends "base/base.html" %}

{% block subheader_buttons %}
    {% if request.user.is_authenticated and request.user == object.user %}
        <a class = "btn btn-primary" href = "">Edit</a>
    {% endif %}
{% endblock subheader_buttons %}

{% block subheader_title %}
    {% if request.user.is_authenticated and request.user == object.user %}
        Your profile
    {% else %}
        {{ object.user.username }}'s profile
    {% endif %}
{% endblock subheader_title %}

{% block content %}
    <div class = "container-fluid mt-3">
        <div class = "row gy-3">
            <div class = "col-sm">
                <div class = "card">
                    {% if object.avatar %}
                        <img src = "{{ object.avatar }}" class = "card-img-top">
                    {% endif %}
                    <div class = "card-body">
                        <p class = "text-muted">{{ object.user.username }}'s bio</p>
                        <p class = "card-text text-pre-line">{{ object.bio|default_if_none:"Nothing here yet!" }}</p>
                    </div>
                </div>
            </div>

            <div class = "col-sm">
                <h3>Posts by {{ object.user.username }}</h3>
                <p>Pretty empty around here...</p>
            </div>
        </div>
    </div>
{% endblock content %}
