{% extends "base/base.html" %}

{% block subheader_buttons %}
    {% if request.user.is_authenticated %}
        <a class = "btn btn-light" href = "{% url 'community-create' %}" title = "Create new community">
            <!-- https://icons.getbootstrap.com/icons/plus/ -->
            <svg
                xmlns = "http://www.w3.org/2000/svg"
                width = "32"
                height = "32"
                fill = "currentColor"
                class = "bi bi-plus"
                viewBox = "0 0 16 16"
                >
                <path d = "M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </a>
    {% endif %}
{% endblock subheader_buttons %}

{% block subheader_title %}
    All communities
{% endblock subheader_title %}

{% block content %}
    <div class = "list-group">
        {% for community in object_list %}
            <a class = "list-group-item list-group-item-action" href = "{% url 'community-detail' community.slug %}">
                <div class = "d-flex justify-content-between">
                    <p class = "text-truncate m-0">{{ community.name }}</p>
                    <span>
                        {% if community.private %}
                            <span class = "badge rounded-pill bg-danger">Private</span>
                        {% endif %}
                        
                        <span class = "badge rounded-pill bg-primary">Members: {{ community.get_member_count }}</span>
                    </span>
                </div>
            </a>
        {% endfor %}
    </div>

    {% include "pagination/pagination.html" %}
{% endblock content %}
