{% extends "base/base.html" %}

{% block sidebar_title %}
    {{ object.name }}
{% endblock sidebar_title %}

{% block sidebar_content %}
    {% if request.user.is_authenticated %}
        <div class = "btn-group w-100 mb-2" role = "group" aria-label = "Community controls">
            <a class = "btn btn-outline-secondary" href = "" title = "Create new post">
                <!-- https://icons.getbootstrap.com/icons/file-earmark-plus/ -->
                <svg
                    xmlns = "http://www.w3.org/2000/svg"
                    width = "32"
                    height = "32"
                    fill = "currentColor"
                    class = "bi bi-file-earmark-plus"
                    viewBox = "0 0 16 16"
                    >
                    <path d = "M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                    <path d = "M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                </svg>
            </a>

            {% if view.is_request_user_moderator %}
                <a
                    class = "btn btn-outline-secondary"
                    href = "{% url 'forum:community-delete' object.slug %}"
                    title = "Delete {{ object.name }}"
                    >
                    <!-- https://icons.getbootstrap.com/icons/trash/ -->
                    <svg
                        xmlns = "http://www.w3.org/2000/svg"
                        width = "32"
                        height = "32"
                        fill = "currentColor"
                        class = "bi bi-trash"
                        viewBox = "0 0 16 16"
                        >
                        <path d = "M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path
                            fill-rule = "evenodd"
                            d = "M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                            />
                    </svg>
                </a>
            {% endif %}
        </div>
    {% endif %}

    <p class = "text-pre-line">{{ object.description }}</p>
{% endblock sidebar_content %}

{% block subheader_buttons %}
    <button
        class = "btn btn-light"
        type = "button"
        data-bs-toggle = "offcanvas"
        data-bs-target = "#sidebar"
        aria-controls = "sidebar"
        title = "See info"
        >
        <!-- https://icons.getbootstrap.com/icons/three-dots/ -->
        <svg
            xmlns = "http://www.w3.org/2000/svg"
            width = "32"
            height = "32"
            fill = "currentColor"
            class = "bi bi-three-dots pe-none"
            viewBox = "0 0 16 16"
            >
            <path d = "M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
    </button>
{% endblock subheader_buttons %}

{% comment %} {% block subheader_image %}
    {% with object.image as image %}
        {{ block.super }}
    {% endwith %}
{% endblock subheader_image %} {% endcomment %}

{% block subheader_title %}
    {{ object.name }}
{% endblock subheader_title %}

{% block content %}
    {% for post in object_list %}
        <div class = "card m-3">
            <div class = "card-header">
                {{ post.title }}
            </div>
            <div class = "card-body">
                <p class = "card-text text-pre-line">{{ post.content }}</p>
            </div>
            <div class = "card-footer">
                <div class = "row">
                    <a class = "stretched-link" href = "{{ post.get_absolute_url }}"></a>

                    {% if request.user.is_authenticated %}
                        <div class = "col-sm" style = "z-index: 1000;">
                            <a class = "link-success" href = "">
                                <!-- https://icons.getbootstrap.com/icons/arrow-up-circle/ -->
                                <svg
                                    xmlns = "http://www.w3.org/2000/svg"
                                    width = "32"
                                    height = "32"
                                    fill = "currentColor"
                                    class = "bi bi-arrow-up-circle"
                                    viewBox = "0 0 16 16"
                                    >
                                    <path
                                        fill-rule = "evenodd"
                                        d = "M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"
                                        />
                                </svg></a> {% comment "To avoid _ whitespace" %}{% endcomment %}
                            <a class = "link-danger" href = "">
                                <!-- https://icons.getbootstrap.com/icons/arrow-down-circle/ -->
                                <svg
                                    xmlns = "http://www.w3.org/2000/svg"
                                    width = "32"
                                    height = "32"
                                    fill = "currentColor"
                                    class = "bi bi-arrow-down-circle"
                                    viewBox = "0 0 16 16"
                                    >
                                    <path
                                        fill-rule = "evenodd"
                                        d = "M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
                                        />
                                </svg></a>
                        </div>
                    {% endif %}

                    <div class = "col-sm d-flex justify-content-end" style = "z-index: 1000;">
                        <a class = "d-none d-sm-block" href = "{% url 'user:profile-detail' post.created_by %}">{{ post.created_by }}</a>
                        <p class = "text-muted mx-1 my-0 d-none d-sm-block">| {{ post.created_at|timesince }} ago</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include "pagination/pagination.html" %}
{% endblock content %}
