{% extends "base/base.html" %}

{% block sidebar_title %}
    {{ object.name }}
{% endblock sidebar_title %}

{% block sidebar_content %}
    <p class = "text-pre-line">{{ object.description }}</p>
{% endblock sidebar_content %}

{% block subheader_buttons %}
    {% if view.is_request_user_member %}
        <button
            class = "btn btn-light"
            type = "button"
            title = "Unsubcribe from {{ object.name }}"
            >
            <!-- https://icons.getbootstrap.com/icons/person-dash/ -->
            <svg
                xmlns = "http://www.w3.org/2000/svg"
                width = "32"
                height = "32"
                fill = "currentColor"
                class = "bi bi-person-dash"
                viewBox = "0 0 16 16"
                >
                <path d = "M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path
                    fill-rule = "evenodd"
                    d = "M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"
                    />
            </svg>
        </button>
    {% else %}
        <button
            class = "btn btn-light"
            type = "button"
            title = "Subcribe to {{ object.name }}"
            >
            <!-- https://icons.getbootstrap.com/icons/person-plus/ -->
            <svg
                xmlns = "http://www.w3.org/2000/svg"
                width = "32"
                height = "32"
                fill = "currentColor"
                class = "bi bi-person-plus"
                viewBox = "0 0 16 16"
                >
                <path d = "M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path
                    fill-rule = "evenodd"
                    d = "M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"
                    />
            </svg>
        </button>
    {% endif %}
    
    <button
        class = "btn btn-light"
        type = "button"
        data-bs-toggle = "offcanvas"
        data-bs-target = "#sidebar"
        aria-controls = "sidebar"
        title = "See info"
        >
        <!-- https://icons.getbootstrap.com/icons/three-dots/ -->
        <svg
            xmlns = "http://www.w3.org/2000/svg"
            width = "32"
            height = "32"
            fill = "currentColor"
            class = "bi bi-three-dots pe-none"
            viewBox = "0 0 16 16"
            >
            <path d = "M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
    </button>
{% endblock subheader_buttons %}

{% comment %} {% block subheader_image %}
    {% with object.image as image %}
        {{ block.super }}
    {% endwith %}
{% endblock subheader_image %} {% endcomment %}

{% block subheader_title %}
    {{ object.name }}
{% endblock subheader_title %}

{% block content %}

{% endblock content %}
